@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.button {
    font-family: 'Open Sans', sans-serif;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: black;
    color: white;
}

.orange{
    background-color: orange;
}

.blue {
    background-color: blue;
}

.red{ 
    background-color: red;
}

.pink {
    background-color: pink;
}

.green{
    background-color: green;
}